### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purch_datafile = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df_purch_data = pd.read_csv(purch_datafile)

In [2]:
# Display the first 15 columns of our data frame
df_purch_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Display data frame information
df_purch_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [4]:
# Display the last 15 columns of our data frame
df_purch_data.tail()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [5]:
# PLAYER COUNT: 
# Display the total number of players

num_players = len(df_purch_data['SN'].value_counts()) 

total_players = pd.DataFrame({'Total Players' :[num_players]})

total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# PURCHASING ANALYSIS:

# Determine the number of unique items through 'Item Name' and 'Item ID columns' 
unique = len(df_purch_data['Item Name'].value_counts())
unique

179

In [7]:
# Determine the average purchase price
average_price = (df_purch_data['Price']).mean()
average_price

3.050987179487176

In [8]:
# Determine total number of purchases
total_purchases = (df_purch_data['Price']).sum()
total_purchases

2379.77

In [9]:
# Create a summary data frame to hold the results
purchase_summary = pd.DataFrame({'Unique Items':[unique],
                             'Average Price':[average_price],
                             'Total Purchases':[total_purchases]})
purchase_summary

   Unique Items  Average Price  Total Purchases
0           179       3.050987          2379.77

In [10]:
purchase_summary.style.format({'Average Price':"${:,.2f}",
                                'Total Purchases': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
# GENDER DEMOGRAPHICS

# Group the data from the Gender column 
gender_demographics = df_purch_data.groupby('Gender')

# Count the total of unique screen names by gender
gender_total = gender_demographics.nunique()['SN']

# Find the percentage of male & female players
player_percentage = gender_total / num_players *100

In [12]:
# Create a data frame to hold this information
gender_summary = pd.DataFrame({'Total Count': gender_total, 'Percentage of Players': player_percentage})

gender_summary.sort_values(['Total Count'], ascending = False).style.format({'Percentage of Players':'{:.2f}%'})

In [13]:
# Create a data frame to hold this information
gender_demo_summary = pd.DataFrame({'Total Count': gender_total,'Percentage of Players': player_percentage})

gender_demo_summary.sort_values(['Total Count'], ascending = False).style.format({'Percentage of Players':'{:.2f}%'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# Count the purchase total of each gender
total_purchase = gender_demographics['Purchase ID'].count()

# Determine the mean purchase price by gender
mean_purchase_price = gender_demographics['Price'].mean()

# Determine the sum of purchases by gender
sum_average_purchase = gender_demographics['Price'].sum()

# Average purchase total by gender divivded by purchase total
mean_per_person = sum_average_purchase/gender_total

In [15]:
# Create a data frame to hold this information
gender_demo_summary = pd.DataFrame({'Purchase Count': total_purchase,
                                    'Average Purchase Price': mean_purchase_price,
                                    'Total Purchase Value':sum_average_purchase,
                                    'Average Total per Person': mean_per_person})

# Format with currency style
gender_demo_summary.style.format({'Total Purchase Value':'${:,.2f}',
                                  'Average Purchase Price':'${:,.2f}',
                                  'Average Total per Person':'${:,.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
# Create bins for each age group & categorize the players within the bins
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
group_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Sort ages into bins
df_purch_data['Age Group'] = pd.cut(df_purch_data['Age'],age_bins, labels = group_labels)
df_purch_data

# Create a data frame with 'Age Group' data
ages_grouped = df_purch_data.groupby('Age Group')

# Count the players by age 
totalcount_by_age = ages_grouped['SN'].nunique()

# Calculate percentages by age category 
totalpercentage_by_age = (totalcount_by_age/num_players) * 100

In [17]:
# Create data frame with obtained values
age_demo_summary = pd.DataFrame({'Total Count': totalcount_by_age, 'Percentage of Players': totalpercentage_by_age})

# Apply formatting so percentage displays 2 decimal points & a percentage sign
age_demo_summary.style.format({'Percentage of Players':'{:,.2f}%'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
# Count the purchase total per age group
purchases_by_age = ages_grouped["Purchase ID"].count()

# Determine the mean purchase price by age group
mean_purchase_age = ages_grouped['Price'].mean()

# Determine the sum of purchases by age group
total_purchases_age = ages_grouped['Price'].sum()

# Average purchase total by age group divivded by purchase total
mean_per_age = total_purchases_age/totalcount_by_age

In [19]:
# Create a data frame to hold this information
age_demo_summary = pd.DataFrame({'Purchase Count': purchases_by_age,
                                    'Average Purchase Price': mean_purchase_age,
                                    'Total Purchase Value':total_purchases_age,
                                    'Average Total Purchase per Person': mean_per_age})

# Apply formatting so dollar values displays 2 decimal points & a dollar sign
age_demo_summary.style.format({'Total Purchase Value':'${:,.2f}',
                                  'Total Purchases by Age':'{:,.2f}',
                                  'Average Purchase Price':'${:,.2f}',
                                  'Average Total Purchase per Person':'${:,.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below

* Create a summary data frame to hold the results

* Sort the total purchase value column in descending order

* Optional: give the displayed data cleaner formatting

* Display a preview of the summary data frame

In [20]:
# Use original data frame and groupby 'SN'
spender_data = df_purch_data.groupby('SN')

# Count the purchase total of each spender
purchases_by_spender = spender_data['Purchase ID'].count()

# Determine the mean purchase price by spender
mean_purchases_spender = spender_data['Price'].mean()

# Determine the sum of purchases by spender
total_purchases_spender = spender_data['Price'].sum()

In [21]:
# Create a data frame to hold this information
spender_summary = pd.DataFrame({'Purchase Count': purchases_by_spender,
                                    'Average Purchase Price': mean_purchases_spender,
                                    'Total Purchase Value':total_purchases_spender,})
format_spender_summary = spender_summary.sort_values(['Total Purchase Value'], ascending = False).head()

format_spender_summary.style.format({'Total Purchase Value':'${:,.2f}',
                                  'Average Purchase Price':'${:,.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:
# Retrieve the Item ID, Item Name, and Item Price columns
popular_items = df_purch_data[['Item ID', 'Item Name', 'Price']]

# Group by Item ID and Item Name. Perform calculations to obtain purchase count, 
# average item price, and total purchase value
item_group = popular_items.groupby(['Item ID', 'Item Name'])

item_purchase_count = item_group['Price'].count()

mean_item_price =item_group['Price'].mean()

item_purchase_total = (item_group['Price'].sum())

In [23]:
# Create a summary data frame to hold the results
popular_item_df = pd.DataFrame({'Purchase Count': item_purchase_count,
                                'Average Item Price': mean_item_price,
                                'Total Purchase Value': item_purchase_total})

# Sort the purchase count column in descending order
popular_item_format = popular_item_df.sort_values(['Purchase Count'], ascending = False).head(10)

# Format the data 
popular_item_format.style.format({'Average Item Price':'${:,.2f}',
                                  'Total Purchase Value':'${:,.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [24]:
# MOST PROFITABLE ITEMS

# Sort the above table by total purchase value in descending order
popular_item_format2 = popular_item_df.sort_values(['Total Purchase Value'], ascending = False).head(10)

popular_item_format.style.format({'Total Purchase Value':'${:,.2f}','Average Item Price':'${:,.2f}'})